<h2>Active Games</h2>

<% @games.each do |g| %>
<div><%= g.sport %></div>
<div><%= link_to g.location %></div>
<%end%>

<% if is_authenticated? %>
  <div class="login_form">
    <%= render "/sessions/new" %>
  </div>
<% end %>
