<div class="container">
  <div class="row">
      <div class = "container text-center">
        <h1 id ="title">Who's Got Next</h1>
    </div>
    <div class ="col-md-8">
      <div class ="row">
        <div class ="col-md-4">
          <div class ="move-col">
            <h2>Filters</h2>
          </div>
        </div>
        <div class ="col-md-8">
          <div class ="move-col">
          <h2>Active Games</h2>
          <div class = "display-games">
            <% @games.each do |g| %>
              <% if g.still_active? && Game.max_players_allowed(g.id) %>
                <div><%= g.sport %></div>
                <div>Players Currently Attending: <%=Player.attending_count(g.id)%> </div>
                <div>Location: <%= link_to g.location, game_path(g) %></div>
                <br>
              <%end%>
            <%end%>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class ="col-md-4">
      <% if !is_authenticated? %>
          <%= render "/sessions/new" %>
      <% end %>
  </div>
</div>
