<h2>Active Games</h2>

<% @games.each do |g| %>
  <% if g.still_active? %>
    <div><%= g.sport %></div>
    <div><%= link_to g.location, game_path(g) %></div>
  <%end%>
<%end%>

<% if !is_authenticated? %>
  <div class="login_form">
    <%= render "/sessions/new" %>
  </div>
<% end %>
