body {
  background-image: url("basketball-floor-texture.jpg");
}

#title {
  font-weight: bold;
  font-size: 60px;
  padding-bottom: 20px;
  color: white;
}

#home-h2 {
  color: white;
  text-align: center;
  margin-bottom: 5%;
}

a:hover {
  text-decoration: none;
  background-color: black;
}

/*.move-col{
  margin-top: 20%;
}*/

nav li {
  color: white;
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  padding-top: 15px;
  font-weight: 400;
}

li a {
  color: white;
}

li a:hover {
  text-decoration: none;
  background-color: #FA8320;
  color: white;
}

.navbar-default {
  background-image: url('chalkboard-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: solid white 2px;
  border-radius: 2px;
}

/*.display-filters {
  background-color: #5E9B5E;
  font-size: 16px;
}*/

.display-games {
  font-family: 'Chalkboard';
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 3%;
  color: white;
  background-image: url('chalkboard-background.jpg');
  border: solid white 3px;
}

.display-games a {
  color: white;
  font-weight: bold;
}